#cloud-config
bootcmd:
  - growpart /dev/sda 1
  - resize2fs /dev/sda1
hostname: ${hostname}
ssh_pwauth: true
disable_root: false
chpasswd:
  list: |
    root:password
  expire: false
users:
  - name: ${username}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/${username}
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ${ssh-public-key}
final_message: "The system is finally up, after $UPTIME seconds"
